

nav.navbar
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") SwishaSkins
        ul.nav.navbar-nav
            li
                a.bortMedDig(href="/")
                    p Hem
            li
                a.bortMedDig(href="/market")
                    p | Marknad
            li
                a.bortMedDig(href="/sell")
                    p | Sälj
            li
                a.bortMedDig(href="/about")
                    p | Om sidan
        ul.nav.navbar-nav.navbar-right

            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/facebook2.png?w=640" )
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/twitter2.png?w=640" )
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/youtube2.png?w=640")
            li.btn-group
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | #{user.displayName}
                    span.caret
                ul.dropdown-menu
                    li
                        a(href='/profile') Din profil
                    li.divider(role='separator')
                    li
                        a(href='/logout') Logga ut