

nav.navbar
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") SwishaSkins
        ul.nav.navbar-nav
            li
                a.bortMedDig(href="/")
                    p Hem
            li
                a.bortMedDig(href="/market")
                    p | Marknad
            li
                a.bortMedDig(href="/about")
                    p | Om sidan
        ul.nav.navbar-nav.navbar-right
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/facebook2.png?w=640" )
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/twitter2.png?w=640" )
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/youtube2.png?w=640" )
            li
                a.text-right.login(href="auth/steam"): img(src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png")