include ./components/head
    title SwishaSkins | Om sidan

body

include ./components/navbar

section.container
    .about
        h2(id="aboutHead") Om hemsidan
        br
        h4(id="aboutText") Denna webbplatsen är skapad av David Söderberg som gymnasiearbete på Teknikprogrammet. Denna sida är en demosida för att köpa och sälja CS:GO föremål. Sidan fungerar som Blocket att man lägger ut annonser medan betalningen och överföring av föremål sker på tredje part. Steam och Swish är det som rekommenderas.






footer
    .container
        p Powered by
            a(href="http://steampowered.com")  Steam
        p   |
        p Skapad av David Söderberg &copy;2016