include ./components/head
    title SwishaSkins | Föremål

body

include ./components/navbar

section.container-fluid
    .row
        .col-sm-2
        .col-sm-4.invid
            div(id="imgInvid")
        .col-sm-4.invid.r
            .col-sm-12
                h2 Vapen:
                br
                h3(id="namn")
                br
                h2 Pris:
                br
                h3(id="pris")
        .col-sm-2
    .row
        .col-sm-2
        .col-sm-8.invid.seller
            .col-sm-1
            .col-sm-2
                div(id="pic")
                h2(id="sellerNamn")
            .col-sm-2
            .col-sm-6.invidh
                h3(id="riktigtNamn")
                h3(id="steamLoc")
                h3 Profil:
                    a(id="steamUrl" target="_blank")
                h3(id="steamId")
            .col-sm-1
        .col-sm-2



script.
    $(function(){
        var item = !{Skin}
        $('#namn').html(item.wName)
        $('#ex').html(item.exterior)
        $('#pris').html(item.price + " :-")
        $('#a').append('<a href="' + item.seller[0]._json.profileurl + '">Länk</a>')
        $('#imgInvid').append('<img src=" ' + item.icon_url + ' " width="70%" height="auto">')
        $('#pic').append('<a target="_blank" href="' + item.seller[0]._json.profileurl + '"><img src="' + item.seller[0].photos[2].value + '" height="auto" width="100%"></a>')
        $('#sellerNamn').html(item.seller[0].displayName)
        $('#riktigtNamn').html("Namn(från Steam): " + item.seller[0]._json.realname)
        if(item.seller[0]._json.loccountrycode == "SE"){
            $('#steamLoc').html("Landskod: " + item.seller[0]._json.loccountrycode + " (Verifierad)")
        }else{
        $('#steamLoc').html("Landskod: Ej verifierad")
        }
        $('#steamUrl').attr('href', item.seller[0]._json.profileurl).html(" Tryck här!")
        $('#steamId').html("SteamID: " + item.seller[0]._json.steamid)
        console.log(item.seller[0])
    })