include ./components/head
    title SwishaSkins
body

nav.navbar
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/") SwishaSkins
        ul.nav.navbar-nav
            li
                a.bortMedDig(href="/")
                    p Hem
            li
                a.bortMedDig(href="/market")
                    p | Marknad
            li
                a.bortMedDig(href="/sell")
                    p | Sälj
            li
                a.bortMedDig(href="/about")
                    p | Om sidan
        ul.nav.navbar-nav.navbar-right

            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/facebook2.png?w=640" )
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/twitter2.png?w=640" )
            li
                a.icon(href="#"): img(src="https://loebig.files.wordpress.com/2013/10/youtube2.png?w=640")
            li.btn-group
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | #{user.displayName}
                    span.caret
                ul.dropdown-menu
                    li
                        a(href='/profile') Din profil
                    li.divider(role='separator')
                    li
                        a(href='/logout') Logga ut


section.container-fluid

    aside.col-sm-3
        .row
            .thumbnail.aside
                h3 Att köpa: Steg för steg
                ul.text-left.aside
                    li 1. Hitta ett skin som du gillar genom marknaden
                    li 2. Tryck på inspektera och adda den som har lagt ut skinet på Steam
                    li 3. Trada över skinet och betala via Swish, använd en mellanhand om du vill öka säkerheten
                    li 4. Spela med ditt nya skin
        .row
            .thumbnail.aside
                h3 Att sälja: Steg för steg
                ul.text-left.aside
                    li 1. Logga in via Steam
                    li 2. Via sälj sidan så väljer du ett eller flera skin/s och sätter ett pris på dem
                    li 3. Lägg ut dem på sidan och vänta till någon addar dig på Steam som vill köpa
                    li 4. Trada över skinet och få betalt via Swish, använd en mellanhand om du vill öka säkerheten

    .col-sm-8.wrap(id="wrap")

footer
    .container
        p Powered by
            a(href="http://steampowered.com")  Steam
        p   |
        p Skapad av David Söderberg &copy;2016

script.
    $(function(){
        $.ajax({
            method: "POST",
            url: 'http://localhost:3000/acc',
            success: function(){
                console.log("Check")
            }
        })
        $.ajax({
            url: "http://localhost:3000/skinDB",
            type: "GET",
            success: function (data) {
                var k = 0;
                $.each(data, function (i, item) {
                    k++;
                    var check = item.wName.toLowerCase();
                    if (check.includes("case")) {
                        k--;
                    } else {
                        $('#wrap').append('<div class="thumbnail color market"><img id="icon_url" src="' + item.icon_url + '"><div class="caption"><h4>' + item.wName + '</h4><p>' + item.price + ' :-</p><a class="btn btn-warning btn-small" role="button" href="http://localhost:3000/market/' + item._id + '">Inspektera</a></div></div>')
                    }
                    if (k == 8) {
                        return false;
                    }
                })

            }
        })


    })


