include ./components/head
    title SwishaSkins | Marknad
body

include ./components/navbar-user

section.container-fluid.filter
    .row
        .col-sm-2
        .col-sm-8.filter
            .dropdown
                button.btn.btn-toggle.drop.btn-warning(type="button" data-toggle="dropdown") SMG
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/market?wType=MP7&wHead=button") MP7
                    li
                        a(href="/market?wType=MP9&wHead=button") MP9
                    li
                        a(href="/market?wType=MAC&wHead=button") MAC-10
                    li
                        a(href="/market?wType=PP&wHead=button") PP-Bizon
                    li
                        a(href="/market?wType=P90&wHead=button") P90
                    li
                        a(href="/market?wType=UMP&wHead=button") UMP-45

            .dropdown
                button.btn.btn-toggle.drop.btn-warning(type="button" data-toggle="dropdown") Pistol
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/market?wType=Glock&wHead=button") Glock-18
                    li
                        a(href="/market?wType=USP&wHead=button") USP-S
                    li
                        a(href="/market?wType=P2000&wHead=button") P2000
                    li
                        a(href="/market?wType=P250&wHead=button") P250
                    li
                        a(href="/market?wType=CZ75&wHead=button") CZ75-Auto
                    li
                        a(href="/market?wType=Duel&wHead=button") Duel Berettas
                    li
                        a(href="/market?wType=Five&wHead=button") Five-Seven
                    li
                        a(href="/market?wType=R8&wHead=button") R8 Revolver&wHead=button
                    li
                        a(href="/market?wType=Tec&wHead=button") Tec-9
                    li
                        a(href="/market?wType=Desert&wHead=button") Desert Eagle

            .dropdown
                button.btn.btn-toggle.drop.btn-warning(type="button" data-toggle="dropdown") Rifle
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/market?wType=AK47&wHead=button") AK-47
                    li
                        a(href="/market?wType=M4A1&wHead=button") M4A1-S
                    li
                        a(href="/market?wType=M4A4&wHead=button") M4A4
                    li
                        a(href="/market?wType=AUG&wHead=button") AUG
                    li
                        a(href="/market?wType=Famas&wHead=button") Famas
                    li
                        a(href="/market?wType=Galil&wHead=button") Galil AR
                    li
                        a(href="/market?wType=SG+553&wHead=button") SG 553
                    li
                        a(href="/market?wType=AWP&wHead=button") AWP
                    li
                        a(href="/market?wType=SSG+08&wHead=button") SSG 08&wHead=button
                    li
                        a(href="/market?wType=G3SG1&wHead=button") G3SG1
                    li
                        a(href="/market?wType=SCAR&wHead=button") SCAR-20

            .dropdown
                button.btn.btn-toggle.drop.btn-warning(type="button" data-toggle="dropdown") Heavy
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/market?wType=Nova&wHead=button") Nova
                    li
                        a(href="/market?wType=MAG-7&wHead=button") MAG-7
                    li
                        a(href="/market?wType=Sawed-Off&wHead=button") Sawed-Off
                    li
                        a(href="/market?wType=XM1014&wHead=button") XM1014
                    li
                        a(href="/market?wType=M249&wHead=button") M249
                    li
                        a(href="/market?wType=Negev&wHead=button") Negev
            .dropdown
                button.btn.btn-toggle.drop.btn-warning(type="button" data-toggle="dropdown") Knives
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/market?wType=Bayonet&wHead=button") Bayonet
                    li
                        a(href="/market?wType=Bowie&wHead=button") Bowie Knife
                    li
                        a(href="/market?wType=Gut&wHead=button") Gut Knife
                    li
                        a(href="/market?wType=Karambit&wHead=button") Karambit
                    li
                        a(href="/market?wType=Huntsman&wHead=button") Huntsman Knife
                    li
                        a(href="/market?wType=Butterfly&wHead=button") Butterfly Knife
                    li
                        a(href="/market?wType=M9&wHead=button") M9 Bayonet
                    li
                        a(href="/market?wType=Shadow+Daggers&wHead=button") Shadow Daggers
                    li
                        a(href="/market?wType=Falchion&wHead=button") Falchion Knife
                    li
                        a(href="/market?wType=Flip&wHead=button") Flip Knife

            .dropdown
                button.btn.btn-toggle.drop.btn-warning(type="button" data-toggle="dropdown") Other
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="/market?wType=Sticker&wHead=button") Stickers
                    li
                        a(href="/market?wType=Case&wHead=button") Cases
                    li
                        a(href="/market?wType=otherItems&wHead=button") Övrigt


        .col-sm-2
    .col-sm-3
        .thumbnail.filter
            h3 Filtrera marknaden
            br
            h6 Typ av vapen
            select(id="wHead")
                option(value="inget")
                option(value="Rifle") Rifle
                option(value="SMG") SMG
                option(value="Pistol") Pistol
                option(value="Heavy") Heavy
                option(value="Knives") Knives
                option(value="Other") Övrigt
            br
            h6 Specifikt vapen
            select.disabled(disabled id="wType")
                option
            br
            h6 Sortering
            select(id="sort") Sortering
                option
                option(value="lowHigh") Pris: Minst -> Störst
                option(value="highLow") Pris: Störst -> Minst
            br
            h6 Lägsta pris
            input(type="Number" id="low")
            br
            h6 Högsta pris
            input(type="Number" id="high")
            br
            h6 Statrak
            select(id="stat")
                option
                option(value="1") Ja
                option(value="0") Nej
            br
            h6 Exterior
            select(id="ex")
                option
                option(value="Factory New") Factory New
                option(value ="Minimal Wear") Minimal Wear
                option(value="Field-Tested") Field-Tested
                option(value="Well-Worn") Well-Worn
                option(value="Battle-Scarred") Battle-Scarred
            br
            button.btn.btn-warning(id="sök") Filtrera

    .col-sm-9.wrap(id="marketWrap")



script.
    $(function(){
        var items = !{skins}
        $.each(items, function (i, item) {
            $('#marketWrap').append('<div class="thumbnail color market"><img id="icon_url" src="' + item.icon_url + '"><div class="caption"><h4>' + item.wName + '</h4><p>' + item.price + ' :-</p><a class="btn btn-warning btn-small" role="button" href="http://localhost:3000/market/' + item._id + '">Inspektera</a></div></div>')

        });

        $('#wHead').change(function () {
            $('#wType').empty().append('<option value=""></option>')
            switch ($('#wHead').val()) {
                case "Rifle":
                    $('#wType').removeAttr('disabled').removeClass('disabled');
                    $('#wType').append('<option value="AK47">AK-47</option>');
                    $('#wType').append('<option value="M4A4">M4A4</option>');
                    $('#wType').append('<option value="M4A1-S">M4A1-S</option>');
                    $('#wType').append('<option value="Famas">Famas</option>');
                    $('#wType').append('<option value="Galil">Galil</option>');
                    $('#wType').append('<option value="AUG">AUG</option>');
                    $('#wType').append('<option value="SG 553">SG 553</option>');
                    $('#wType').append('<option value="AWP">AWP</option>');
                    $('#wType').append('<option value="SSG">SSG 08</option>');
                    $('#wType').append('<option value="Scar-20">SCAR-20</option>');
                    $('#wType').append('<option value="G3SG1">G3SG1</option>');
                    break;
                case "Pistol":
                    $('#wType').removeAttr('disabled').removeClass('disabled');
                    $('#wType').append('<option value="Glock">Glock-18</option>');
                    $('#wType').append('<option value="P2000">P2000</option>');
                    $('#wType').append('<option value="USP-S">USP-S</option>');
                    $('#wType').append('<option value="P250">P250</option>');
                    $('#wType').append('<option value="CZ75">CZ75</option>');
                    $('#wType').append('<option value="Five-Seven">Five-Seven</option>');
                    $('#wType').append('<option value="Desert-Eagle">Desert Eagle</option>');
                    $('#wType').append('<option value="Duel-Berettas">Duel-Berettas</option>');
                    $('#wType').append('<option value="R8">R8 Revolver</option>');
                    $('#wType').append('<option value="Tec-9">Tec-9</option>');
                    break;
                case "SMG":
                    $('#wType').removeAttr('disabled').removeClass('disabled');
                    $('#wType').append('<option value="MAC-10">MAC-10</option>');
                    $('#wType').append('<option value="MP7">MP7</option>');
                    $('#wType').append('<option value="MP9">MP9</option>');
                    $('#wType').append('<option value="PP-Bizon">PP-Bizon</option>');
                    $('#wType').append('<option value="P90">P90</option>');
                    $('#wType').append('<option value="UMP-45">UMP-45</option>');
                    break;
                case "Heavy":
                    $('#wType').removeAttr('disabled').removeClass('disabled');
                    $('#wType').append('<option value="MAG-7">MAG-7</option>');
                    $('#wType').append('<option value="Nova">Nova</option>');
                    $('#wType').append('<option value="Sawed-Off">Sawed-Off</option>');
                    $('#wType').append('<option value="XM1014">XM1014</option>');
                    $('#wType').append('<option value="M249">M249</option>');
                    $('#wType').append('<option value="Negev">Negev</option>');
                    break;
                case "Knives":
                    $('#wType').removeAttr('disabled').removeClass('disabled');
                    $('#wType').append('<option value="Bayonet">Bayonet</option>');
                    $('#wType').append('<option value="Bowie">Bowie Knife</option>');
                    $('#wType').append('<option value="Butterfly">Butterfly Knife</option>');
                    $('#wType').append('<option value="Falchion">Falchion Knife</option>');
                    $('#wType').append('<option value="Flip">Flip Knife</option>');
                    $('#wType').append('<option value="Gut">Gut Knife</option>');
                    $('#wType').append('<option value="Huntsman">Huntsman Knife</option>');
                    $('#wType').append('<option value="Karambit">Karambit</option>');
                    $('#wType').append('<option value="M9">M9 Bayonet</option>');
                    $('#wType').append('<option value="Shadow">Shadow Daggers</option>');
                    break;
                case "Other":
                    $('#wType').removeAttr('disabled').removeClass('disabled');
                    $('#wType').append('<option value="Sticker">Stickers</option>');
                    $('#wType').append('<option value="Case">Cases</option>');
                    $('#wType').append('<option value="otherItems">Övrigt</option>');
                    break;
                case "inget":
                    $('#wType').addClass('disabled').prop('disabled', true).empty().append('<option value=""></option>')
                    break;

            }
        })

        $('#sök').click(function () {
            var head = $('#wHead').val();
            if (head == "inget") {
                head = "";
            }
            var vapen = $('#wType').val();
            if (head == "Other") {
                head = vapen;
                vapen = "";
            }
            var sort = $('#sort').val();
            var low = $('#low').val();
            var high = $('#high').val();
            var statrak = $('#stat').val();
            var exterior = $('#ex').val();
            var wName = $('#wName').val();
            var url = 'http://localhost:3000/market?wHead=' + head + '&wType=' + vapen + '&statrak=' + statrak + '&exterior=' + exterior + '&low=' + low + '&high=' + high + '&sortera=' + sort;
            window.location.href = url;
        })

    })