include ./components/head
    title SwishaSkins | Profil
body

include ./components/navbar-user

section.container-fluid
    .col-sm-3.profil
        img(class="profilh3s" id="profilBild123")
        h3(class="profilh3s" id="profilNamn123")
        h3(class="profilh3sr") Namn(från Steam):
        h3(class="profilh3s" id="profilNamnSteam")
        h3(class="profilh3sr") Landskod:
        h3(class="profilh3s" id="landskod")
        h3(class="profilh3sr") SteamID:
        h3(class="profilh3s" id="profilSteamId")
    .col-sm-1
    .col-sm-8.wrap(id="items")


script.
    $(function(){
        $.ajax({
            type: "PUT",
            url: 'http://localhost:3000/acc',
            success: function(){

            }
        })
        $.ajax({
            url: 'http://localhost:3000/profile.json',
            type: "GET",
            success: function(data){
                $('#profilBild123').attr('src', data[0].steamInfo[0]._json.avatarfull)
                $('#profilNamn123').html(data[0].steamInfo[0].displayName)
                $('#profilNamnSteam').html(data[0].steamInfo[0]._json.realname)
                if(data[0].steamInfo[0]._json.loccountrycode == "SE") {
                    $('#landskod').html(data[0].steamInfo[0]._json.loccountrycode)
                }else{
                    $('#landskod').html("Ej verifierad")
                }
                $('#profilSteamId').html(data[0].steamInfo[0].id)
            }
        })
        $.ajax({
            url: 'http://localhost:3000/skinProfile',
            type: "GET",
            success: function(data){
                $.each(data, function(i, item){
                    $('#items').append('<div class="thumbnail color"><img src="' + item.icon_url + '" height="auto" width="75%"><div class="caption"><h4>' + item.wName + '</h4><h4>' + item.price + ' kr</h4><a data-Id="' + item._id+ '" id="sold" class="btn btn-warning btn-small btn-centered knapp">Såld</a><a class="btn btn-danger btn-small btn-centered knapp" id="tabort" data-id="' + item._id + '">Ta bort</a></div></div>')
                })
            }
        })
        $(document).on('click', '#tabort', function(){
            var id = $(this).attr('data-id')
            if(confirm('Säker på att du vill ta bort denna annons?')){
                $.ajax({
                    type: "DELETE",
                    url: 'http://localhost:3000/skinDB/' + id + '',
                    success: function () {
                        alert("Borttagen")
                        location.reload();
                    }
                })
            }else{

            }

        })
        $(document).on('click', '#sold', function(){
            var id = $(this).attr('data-Id')
            if (confirm('Säker på att du vill ta bort denna annons?')) {
                $.ajax({
                    type: "DELETE",
                    url: 'http://localhost:3000/skinDB/' + id + '',
                    success: function () {
                        alert("Status: Såld")

                        location.reload();

                    }
                })
            } else {

            }

        })

    })
//location.reload()