include ./components/head
    title SwishaSkins | Sälj
body

include ./components/navbar-user


section.container-fluid.height
    .inventory
        .col-sm-8.wrap.visa(id="sellItems")
    .col-sm-4
        .thumbnail.color.pris
            img(src="https://i.gyazo.com/80750798c6490e159edfe17b02b3c5e1.png" id="prisBild" width="80%" height="30%" name="icon" data-classid="")
            .caption.pris
                h2.pris(id="namnVapen")
                input.pris(placeholder="Ange pris i svenska kronor" type="number" name="sellPrice" id="priset")
                br
                button.btn.add(id="add") Lägg till
                button.btn.btn-danger(id="del") Rensa



        .thumbnail.color.trade.enlarge(id="lista")


section.container.pilar
    .col-sm-8
        i.fa.fa-arrow-left.w3-xxxlarge(role="button" id="vänster")
        i.fa.fa-arrow-right.w3-xxxlarge(role="button" id="höger")
    .col-sm-4
        .text-right.knapp
            button.pris.submit(id="submit") Skicka iväg
    br
    footer
        .container.footer.LUL
            p Powered by
                a  Steam
            p   |
            p Skapad av David Söderberg &copy;2016


script.
    $(function() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:3000/sellAdd',
            data: {method: "delete"},
            success: function () {
                $('#lista').empty()
            }
        })
        $('#vänster').hide();
        $('#höger').hide();
        $('.caption.pris').hide()
        $('#sellItems').append('<img class="center" src="images/ajax.gif" id="loading">')
        var k = 0;
        var s = 0;
        $.ajax({
            type: 'GET',
            url: 'http://localhost:3000/inventory',
            success: function (data) {
                console.log(data)
                $.each(data, function (i, item) {
                    if (item.tradable == 1) {
                        if(s > 0){
                            if($('#sellItems'+s+'').length){
                                $('#sellItems' + s + '').append('<div class="thumbnail color" id="sälj" data-classid="'+item.id+'"  role="button"><img src="http://cdn.steamcommunity.com/economy/image/' + item.icon_url + '" width="100px" height="110px" id="klick"><div class="caption"><h4>' + item.market_name + '</h4></div></div>').hide();
                                k++
                                $('#loading').hide();
                                $('#vänster').show();
                                $('#höger').show();
                                if (k == 18) {
                                    s++
                                    k = 0;
                                }
                            }else{
                            $('.inventory').append('<div class="col-sm-8 wrap" id="sellItems'+s+'"></div>')
                            $('#sellItems'+s+'').append('<div class="thumbnail color" id="sälj" data-classid="'+item.id+'"  role="button"><img src="http://cdn.steamcommunity.com/economy/image/' + item.icon_url + '" width="100px" height="110px" id="klick"><div class="caption"><h4>' + item.market_name + '</h4></div></div>').hide();
                            k++
                            if(k == 18){
                                s++
                                k=0;
                            }}
                        }else{
                            $('#sellItems').append('<div class="thumbnail color" id="sälj" data-classid="'+item.id+'"  role="button"><img src="http://cdn.steamcommunity.com/economy/image/' + item.icon_url + '" width="100px" height="110px" id="klick"><div class="caption"><h4>' + item.market_name + '</h4></div></div>');
                            k++;
                            if(k == 18){
                                s++
                                k = 0;
                            }
                        }

                    } else {
                        //console.log("noTrade " + item.name)
                    }

                })
            },
            error: function () {
                if (user) {
                    alert("error!")
                }
            }
        });

        $('#höger').click(function () {

            $currentDiv = $('.visa');
            $nextDiv = $currentDiv.next();
            if($nextDiv.length === 0){
                $nextDiv = $('.col-sm-8.wrap').first()
            }
            $currentDiv.fadeOut(0).removeClass('visa');
            $nextDiv.fadeIn(0).addClass('visa');



        });

        $('#vänster').click(function () {

            $currentDiv = $('.visa');
            $prevDiv = $currentDiv.prev();
            if($prevDiv.length === 0){
                $prevDiv = $('.col-sm-8.wrap').last()
                            }

            $currentDiv.fadeOut(0).removeClass('visa');
            $prevDiv.fadeIn(0).addClass('visa');


        });


        $(document).on('click', '#sälj', function(){
            $('.caption.pris').show()
            var bild = $(this).children('img')

            var källa = bild.attr('src')
            $('#prisBild').attr('src', källa)

            var hållare = $(this).children('.caption')
        var text = hållare.children('h4')
        var string = text.text();
        $('#namnVapen').text(string)

        var klassId = $(this).attr('data-classid')
        $('#prisBild').attr('data-classid', klassId)
    });

    $('#add').click(function () {
        var pris = $('#priset').val()
        $('#priset').val('')
        var name = $('#namnVapen').text()
        var bild = $('#prisBild').attr('src')
        var klassId = $('#prisBild').attr('data-classid')
        $('#lista div').each(function () {
           if($(this).attr('data-classId') === klassId){
               alert("redan tillagt")
               finish(true)
           }
        })
        if (pris.length == 0) {
            alert("Ange priset du vill sälja för")
        }
        else {
            $.ajax({
                method: "GET",
                url: 'http://localhost:3000/skinDB',
                success: function(data){
                    var fortsatt = true;
                    var id11 = #{id1};
                    var id22 = #{id2};
                    var str1 = id11.toString();
                    var str2 = id22.toString();
                    var id = str1 + str2;
                    $.each(data, function(i, item){
                        if(item.sellerId == id){
                        if(item.classId == klassId){
                            fortsatt = false;
                            alert("Du har redan annonserat det vapnet")
                        }}
                    })
                    if (fortsatt) {
                        $.ajax({
                            type: "POST",
                            url: 'http://localhost:3000/sellAdd',
                            data: {price: pris, name: name, icon: bild, classid: klassId, method: "POST"},
                            success: function () {
                                $.ajax({
                                    type: "GET",
                                    url: 'http://localhost:3000/sellAdd',
                                    success: function (data) {
                                        $('#lista').empty()
                                        $.each(data, function (i, item) {
                                            $('#lista').append('<div class="thumbnail color bild" data-classId="' + item.classId + '" data-namn="' + item.wName + '" data-pris="' + item.price + '"> <img src="' + item.icon_url + '"><span><img src="' + item.icon_url + '"><br>' + item.wName +'<br>Ditt satta pris: ' + item.price +' sek</span></div>')
                                        });
                                    }
                                });
                            }
                        })
                    }}
            })}
            })

    });
    $('#del').click(function () {
        $.ajax({
            type: "POST",
            url: 'http://localhost:3000/sellAdd',
            data: {method: "delete"},
            success: function () {
                alert("borttaget")
                $('#lista').empty()
            }
        })
    });
    $('#submit').click(function(){
        $('#lista div').each(function(){
            var wName = $(this).attr('data-namn');
            var price = $(this).attr('data-pris');
            var classId = $(this).attr('data-classId')
            var bild = $(this).children('img');
            var icon = bild.attr('src');
            $.ajax({
                type: "POST",
                url: 'http://localhost:3000/skinDB',
                data: {wName: wName, price: price, icon_url: icon, classId: classId},
                success: function(){
                    $('#lista').empty();
                    $.ajax({
                        type: "POST",
                        url: 'http://localhost:3000/sellAdd',
                        data: {method: "delete"},
                        success: function () {
                            $('#lista').empty()
                        }
                    })
                    setTimeout(function(){ window.location = '/profile' }, 2000);
                }

            })
       })





    });



