body {
  width: 100%;
  font: 14px ‘Lucida Console’, Monaco, monospace;
  background: linear-gradient(to right, rgba(42,45,53,1) 0%,rgba(49,52,61,1) 25%,rgba(55,57,67,1) 50%,rgba(49,52,61,1) 75%,rgba(42,45,53,1) 100%);

}

p{
  color:white;
}

li a p {
  color: white;
  font-size: 26px;
  margin-left: 10px;
  font-family: ‘Lucida Console’, Monaco, monospace;
  position: relative;
  top: 115px;

}

li a.bortMedDig{
  position: relative;
  top: -110px;
}

ul.nav.navbar-nav li a:hover{
  background: transparent;

}

ul.nav.navbar-nav li a:active{
  background: transparent;
}

a.navbar-brand{
  font-size: 250%;
  padding-left: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  position: relative;
  top: 5px;
  font-family: ‘Lucida Console’, Monaco, monospace;

}

a.navbar-brand:hover{
  background:transparent;
  color:white;
}
.nav.navbar-nav.navbar-right{
  position: relative;
  bottom: 10px;

}

.col-sm-8.filter{
  height: 4%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  margin-bottom: 10px;


}

header {
  padding: 20px 0;
  background: linear-gradient(45deg, rgba(249,198,103,1) 0%,rgba(247,236,215,1) 10%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 70%,rgba(247,236,215,1) 90%,rgba(249,198,103,1) 100%);
}

section.container-fluid.filter{
  margin-top: 2px;
}

footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  padding-left: 5px;

}

header p {
  padding: 0 20px;
  margin: 0;
  border-color: black;
}

header nav {
  display: flex;
  justify-content: flex-end;

}

nav img {
  float: right;


}

a.text-right.login{
  position: relative;
  top: -50px;


}

a.text-right.login img{
  position: relative;
  top: 65px;
  margin: 0 auto;
}

.col-sm-8.wrap.visa{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  min-height: 50%;
}

.about{
  margin-top: 5%;
  width: 100%;
  height: 30%;
  background: #3d3f47;
  padding: 10%;
  padding-top: 0;
}

#aboutHead{
  text-align: center;
  text-decoration: underline;
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
  padding-top: 20px;
  margin-top: 0;
}

#aboutText{
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
}
.col-sm-8.wrap.visa .thumbnail.color{
  position: relative;
  left: 60px;
}
.col-sm-3.profil{
  background: #3d3f47;box-shadow: -1px 0px 12px -1px rgba(0,0,0,0.75);
  margin-left: 20px;
  text-align: center;
  margin-top: 8px;
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
  font-weight: bold;
}
.col-sm-8.wrap{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;


}
#profilBild123{
  margin-top: 40px;
  margin-bottom: 5px;
}
#profilNamn123{
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
  font-weight: bold;
}
.profilh3s{
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
  font-weight: bold;
}
.profilh3sr{
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
  font-weight: bold;
  margin-top:45px;
}
.col-sm-9.wrap {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}
#icon_url{
  width: 70%;
  height: 40%;
}

.disabled{
  background: grey;
}

.col-sm-8.wrap .thumbnail.color{
  position: relative;
  left: 60px;
}

#logo {
  width: 50px;
  height: 50px;

}

.thumbnail.aside{
  background: #3d3f47;
  text-align: center;
  color: white;
  border: none;
  box-shadow: -1px 0px 12px -1px rgba(0,0,0,0.75);

}

.thumbnail.filter{
  height: 75%;
  margin-top: 18px;
  background: #3d3f47;
  border: none;
  text-align: center;
  box-shadow: -1px 0px 12px -1px rgba(0,0,0,0.75);

}

.thumbnail.filter h3{
  margin-bottom: 0;
  font-weight: bold;
  color: white;}
.thumbnail.filter h6{
  margin-top: 0;
  margin-bottom: 3px;
  font-weight: bold;
  color: white;}
a {

  align-content: center;
}

.thumbnail a {
  font-size: 90%;


}
nav.navbar.market{
  margin-bottom: 5px;
}
#sök{
  font-weight: bold;
}
.thumbnail.color{
  margin-top: 8px;
  background: #3d3f47;box-shadow: -1px 0px 12px -1px rgba(0,0,0,0.75);
  width: 20%;
  height: 36%;
  margin-right: 20px;


}

.thumbnail.color.market{
  margin-top: 14px;
  background: #3d3f47;
  width: 20%;
  height: 36%;
  margin-right: 20px;
}

.caption{
  display: block;
  text-align: center;

  margin-top: 10px;


}
.btn.btn-warning.btn-small{
  margin-top: 12px;
}

.bildPris{
  width:100%;
  height: 50%;
}
.col-sm-12 h2{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
  margin-top: 65px;
}
.col-sm-12 h3{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
}
.caption h5{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
}

.caption h4{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  font-size: 95%;
  color: white;

}

.caption p{
  color: white;
  font-family: ‘Lucida Console’, Monaco, monospace;
}

.caption a{
  color: white;
  font-family: ‘Lucida Console’, Monaco, monospace;
}

.thumbnail.color {
  border: none;
}

footer{
  background: transparent;
  text-align: right;

  position:absolute;
  bottom: 0;
  width: 100%;
}

footer p{
  position: relative;
  top: 5px;
  float: right;
  margin-right: 2px;
  color: white;
  font-family: ‘Lucida Console’, Monaco, monospace;

}

footer.v p{
  position: relative;
  top: 5px;
  float: left;
  margin-right: 2px;
  color: white;
  font-family: ‘Lucida Console’, Monaco, monospace;

}

footer p a.hej{
  margin-left: 5px;

}

nav.navbar{

  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, rgba(246,168,33,1) 0%,rgb(255,163,58) 22%,rgba(255,182,104,1) 50%,rgba(255,163,58,1) 78%,rgb(246,168,33) 100%);
  border-bottom: solid black 1px;
}

ul.nav.navbar-nav:active{
  background: transparent;
}
ul.text-left.aside{
  padding-bottom: 20px;
  padding-top: 10px;
}
section{
  margin-top: 20px;
}

.col-sm-12.icons a img{
  padding-bottom: 2px;


}

a.icon{
  margin-top: 12px;

}

.col-sm-12.footer{
  text-align: right;

}

.container.image{
  margin-bottom: 10px;
}

#sälj {
  height: 23%;
  width: 14%;


}

i.fa.fa-arrow-left.w3-xxxlarge{
  color: #ffac4f;
  display:inline

}

.row.sell {
  height: 15%;
  width: 10%;
}
.LUL{
  opacity: 0;
  display: none;
}

.col-sm-6.invidh h3{
  font-family: ‘Lucida Console’, Monaco, monospace;
  color: white;
  margin-left: 35px;
  margin-top: 5px;
}

#riktigtNamn{
  margin-top: 75px;
}

.col-sm-1.pilar{
  display: flex;
  color: #ffac4f;
  text-align: center;

}

#pic{
  margin-top: 25px;
  padding-left: 0;
}
#sellerNamn{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
  margin-top: 25px;
  text-align: center;
  padding-left: 20px;
}
i.fa.fa-arrow-right.w3-xxxlarge{
  margin-left: 200px;
  color: #ffac4f;
  display:inline

}

button.btn.btn-default.dropdown-toggle{
  margin-top: 15px;
  margin-right: 15px;
  background: transparent;
  border: none;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  font-size: 200%;
  color:white;
}

#loading{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
}

section.container-fluid.height{
  max-height: 630px;
  height: auto;
}

section.container.pilar{
  margin-top: 0;
}

.thumbnail.color.pris{
  height: 48%;
  width: 90%;
}

h2.pris{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
  margin-top: 15px;
}

input.pris{
  margin-top: 14px;
}

button.pris.submit{
  color: white;
  background: #ffac4f;
  border: 0;
  font-size: 200%

}

.thumbnail.color.trade.enlarge{
  height: 24%;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;

}

#prisBild{
  width: 50%;
  height: auto;
}

.thumbnail.color.bild{
  width: 15%;
  height: 20%;
  margin-left: 6px;
  margin-top: 0;
  margin-bottom: 5px;
}

.text-center.knapp{
  width: 92%
}
button.btn.btn-danger{
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
button.btn.add{
  background: #ffac4f;
  font-family: ‘Lucida Console’, Monaco, monospace;
  font-weight: bold;
  color: white;
  margin-top: 10px;

}
button.btn.btn-toggle.drop{
  height: 100%;
  margin-top: 6%;
  margin-bottom: 4%;
  margin-left: 5px;
  margin-right: 5px;




}
p.vänster{
  text-align: left;
}
#del{
  margin-left: 20px;
}
select{
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  padding: 2px 10px;

}

input{
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  padding: 2px 10px;
}
.container.footer{

}
aside.col-sm-3{
  margin-top: 30px;
  margin-left: 10px;
}

textarea.rapportera{

  font-size: large;
  color: black;
}

.col-sm-2{

}

.col-sm-4.invid{
  text-align: center;
  padding-right: 2px;
  align-content: center;
  background: #3d3f47;
  height:50%;
  margin-top: 10px;
  padding-left: 0;
  position: relative;
  right: 1%;
  box-shadow: -1px 0px 12px -1px rgba(0,0,0,0.75);

}
.col-sm-4.invid.r{
  align-content: center;
  background: #3d3f47;
  height:50%;
  margin-top: 10px;
  position: relative;
  left: 1%;
}

#imgInvid{
  display: block;
  margin: 0 auto;
  padding-top:13%;


}


.col-sm-8.invid.seller{
  height:33%;
  margin-top: 25px;
  background: #3d3f47;
  box-shadow: -1px 0px 12px -1px rgba(0,0,0,0.75);
}

div.enlarge span{
  position:absolute;
  left: -9999px;
}

div.enlarge img:hover{
  z-index: 50;
  cursor:pointer;
}

div.enlarge div:hover span{
  top: 100px;
  left: -700px;
}

div.enlarge span{

  padding: 10px;
  background: linear-gradient(to right, rgba(42,45,53,1) 0%,rgba(49,52,61,1) 25%,rgba(55,57,67,1) 50%,rgba(49,52,61,1) 75%,rgba(42,45,53,1) 100%);

  -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
  box-shadow: 0 0 20px rgba(0,0,0, .75);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius:8px;

  font: 14px ‘Lucida Console’, Monaco, monospace;
  text-align: center;
  color: white;
}



.knapp{
  margin-top: 10px;
  margin-right: 8px;
}